 {{message}}
<h1>Article</h1>
<p>Title: {{article.title}}</p>
<p>Author: {{article.author}}</p>
<p>Content: {{article.content}}</p>

<form action="/articles/{{article.urlTitle}}/edit" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="get">
  <input type="submit" value="Edit Article">
</form>
<br>
<form action="/articles/{{article.urlTitle}}" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete Article">
</form>