<form action="/">
  <input type="submit" value="Home" id="home_button">
</form>
{{#if showProducts}}
<form enctype="application/x-www-form-urlencoded" action="/products/{{product.id}}" method="POST">
  <h1 id="index_header">Edit Product Information</h1>
  <h3>{{message}}</h3>
  <input type="hidden" name="_method" value="PUT" />
  <h1 class="edit_headers">Name:</h1>
  <input type="text" name="name" value="{{product.name}}" class="simple_line">
  <h1 class="edit_headers">Price:</h1>
  <input type="text" name="price" value="{{product.price}}" class="simple_line">
  <h1 class="edit_headers">Inventory:</h1>
  <input type="text" name="inventory" value="{{product.inventory}}" class="simple_line">
  <br>
  <input type="submit" value="Submit" id="submit_button">
</form>
<form action="/products">
  <input type="submit" value="Back" id="back_button">
</form>
{{/if}}

{{#if showArticles}}
<form enctype="application/x-www-form-urlencoded" action="/articles/{{article.urltitle}}" method="POST">
  <h1 id="index_header">Edit Article Information</h1>
  <h3>{{message}}</h3>
  <input type="hidden" name="_method" value="PUT" />
  <h1 class="edit_headers">Name:</h1>
  <input type="text" name="title" value="{{article.title}}" class="simple_line">
  <h1 class="edit_headers">Author:</h1>
  <input type="text" name="author" value="{{article.author}}" class="simple_line">
  <h1 class="edit_headers">Content:</h1>
  <textarea name="content" id="content_input">{{article.content}}</textarea>
  <br>
  <input type="submit" value="Submit" id="submit_button">
</form>
<form action="/articles">
  <input type="submit" value="Back" id="back_button">
</form>
{{/if}}