{{!-- {{#if showProducts}} --}}
<h1>Edit Product Information</h1>
<h3>
  {{message}}
</h3>
<form enctype="application/x-www-form-urlencoded" method="POST" action="/products">
  <h1>Name:
    <br>
    <input type="text" name="name" value={{product.name}}>
  </h1>
  <h1>Price:
    <br>
    <input type="text" name="price" value={{product.price}}>
  </h1>
  <h1>Inventory:
    <br>
    <input type="text" name="inventory" value={{product.inventory}}>
  </h1>
  <input type="submit" value="Submit">
</form>
{{!-- {{/if}} --}}
{{!-- {{#if showArticles}}
<h1>Edit Article Information</h1>
<h3>
  {{message}}
</h3>
<h1>Title:
  <br>
  <input type="text" name="name">
</h1>
<h1>Author:
  <br>
  <input type="text" name="author">
</h1>
<h1>Body:
  <br>
  <input type="text" name="body">
</Body></h1>
{{/if}} --}}