<form enctype="application/x-www-form-urlencoded" action="/products/{{product.id}}?_method=PUT?_method=PUT" method="POST">
  <h1>Edit Product Information</h1>
  <h3>{{message}}</h3>
  <input type="hidden" name="_method" value="PUT" />
  <h1>Name:</h1>
  <input type="text" name="name" value={{product.name}}>
  <h1>Price:</h1>
  <input type="text" name="price" value={{product.price}}>
  <h1>Inventory:</h1>
  <input type="text" name="inventory" value={{product.inventory}}>
  <input type="submit" value="Submit">
</form>