{{#if showProducts}}
<h1>Products</h1>
<form action="/products/new">
  <input type="submit" value="Add Product">
</form>
<h3>
  {{message}}
</h3>
<ul>
  {{#each products}}
  <li>{{this.name}}</li>
  <p>Product ID: {{this.id}}</p>
  {{/each}}
</ul>
{{/if}}

{{#if showArticles}}
<h1>Articles</h1>
<form action="/articles/new">
  <input type="submit" value="Add Article">
</form>
<h3>
  {{message}}
</h3>
<ul>
  {{#each articles}}
  <li>{{this.title}}</li>
  <p>Article Author: {{this.author}}</p>
  {{/each}}
</ul>
{{/if}}