{{#if showProducts}}
<h1 id="index_header">Enter A New Product</h1>
<h3>
  {{message}}
</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/products">
  <h1 class="edit_headers">Name:
    <br>
    <input type="text" name="name" class="simple_line" value="{{product.name}}">
  </h1>
  <h1 class="edit_headers">Price:
    <br>
    <input type="text" name="price" class="simple_line" value="{{product.price}}">
  </h1>
  <h1 class="edit_headers">Inventory:
    <br>
    <input type="text" name="inventory" class="simple_line" value="{{product.inventory}}">
  </h1>
  <input type="submit" value="Submit" id="submit_button">
</form>
<form action="/">
  <input type="submit" value="Home" id="home_button">
</form>
<form action="/products">
  <input type="submit" value="Back" id="back_button">
</form>
{{/if}}
{{#if showArticles}}
<h1 id="index_header">Create New Article</h1>
<h3>
  {{message}}
</h3>
<form enctype="application/x-www-form-urlencoded" method="post" action="/articles">
  <h1 class="edit_headers">Title:
    <br>
    <input type="text" name="title" class="simple_line" value="{{content.title}}">
  </h1>
  <h1 class="edit_headers">Author:
    <br>
    <input type="text" name="author" class="simple_line" value="{{content.author}}">
  </h1>
  <h1 class="edit_headers">Content:
    <br>
    <textarea name="content" id="content_input">{{content.content}}</textarea>
  </h1>
  <input type="submit" value="Submit" id="submit_button">
</form>
<form action="/">
  <input type="submit" value="Home" id="back_button">
</form>
<form action="/articles">
  <input type="submit" value="Back" id="back_button">
</form>
{{/if}}